<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <a href="/register"><button>register</button></a>
    <a href="/login"><button>login</button></a>
    <a href="/logout"><button>logout</button></a>
    <a href="/secret"><button>secret</button></a>
    
<br>
<hr>
<br>    
    {% block content %}
    {% endblock %}
<br>
<br>
    {% for msg in get_flashed_messages() %}
        {{msg}}
    {% endfor %}
    

</body>
</html>